@charset "utf-8";

table{
    float:inline-end;
    border-collapse: collapse;
    border: 1px solid;
    margin: auto;
    padding-bottom: 100px;
    font-size: large;
    
}

th, td {
    padding: 15px;
    border: 1px solid grey;
}

th {
    font-weight: bold ;
}